---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import OverviewVideo from '../components/OveriewVideo.astro';
import RendilleVideo from '../components/RendilleVideo.astro';
import Stories from '../components/Stories.astro';

---

<Layout title="Seed Company">
	<Navbar />
	<Hero /> 
	<section class="mx-auto max-w-7xl px-[20px]">
		<OverviewVideo />
	</section>
	<section class="mx-auto max-w-7xl px-[20px] my-10 md:my-20">
		<div class="md:max-w-[600px] w-full mb-5 md:mb-10">
			<h4 class="primary-color uppercase mb-2 md:mb-5 font-bold">Stories</h4>
			<h2 class="text-2xl md:text-4xl">Meet People Who Discovered Hope and Freedom through <span class="highlighter">Translated Scripture</span></h2>
		</div>
	</section>
	<section class="max-w-7xl mx-auto px-[20px] mb-20">
		<Stories />
	</section>
	<section class="bg-[url(https://seedcompany.com/wp-content/uploads/2021/09/tear-bg-1.png)] bg-no-repeat bg-cover mb-[-80px] md:mb-[-100px]">
		<div class="mx-auto max-w-7xl px-[20px] py-20 md:py-40 md:flex gap-[20px] md:gap-[60px]">
			<div class="w-full mb-10 md:mb-[0px]">
				<h4 class="uppercase mb-2 md:mb-5 font-bold">Why Bible Translation?</h4>
				<h2 class="text-2xl md:text-4xl">God's Word for Every People Group <span class="highlighter">in Our Lifetime</span></h2>
			</div>
			<div class="w-full">
				<p class="mb-[12px] text-[18px] md:text-[20px]">Everyone deserves to have Scripture in the language they understand best. But, right now, about 125 million people do not have a single vers.</p>
				<p class="mb-[40px] text-[18px] md:text-[20px]">Together, we can change that!</p>
				<a href="/approach" class="primary-bg text-white py-[12px] px-[24px] rounded-md uppercase">
					Our Approach
				</a>	
			</div>
		</div>
		<div class="max-w-7xl mx-auto px-[20px] mb-20">
			<RendilleVideo />
		</div>
	</section>
</Layout>