--- 
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Pray">
    <Navbar />
    <section class="max-w-5xl mx-auto px-[20px] md:py-20 lg:py-56">
        <h1 class="text-4xl">This is the Pray Page</h1>
    </section>
    <Footer />
</Layout>
