<div class="md:flex gap-10 pt-10 px-10 rounded-lg h-[100%] items-center bg-[url(https://seedcompany.com/wp-content/uploads/2021/09/cta-bg-mobile.jpg)] bg-no-repeat bg-cover">
    <div class="flex flex-col justify-end h-full"> <!-- Ensure full height and bottom alignment -->
        <img class="w-full" src="https://seedcompany.com/wp-content/uploads/2021/09/cta-image-cropped.png" alt="">
    </div>
    <div class="flex flex-col justify-center pb-10">
        <h3 class="text-2xl md:text-4xl mt-10 md:mt-[0px]">Help Reach People Waiting for God's Word</h3>
        <p class="pt-[8px]">God's Word changes everything. And everyone deserves to have God's Word in the language they understand best.</p>
        <p class="pb-[8px]">You can help make that happen.</p>
        <a href="/approach" class="primary-bg text-white py-[12px] px-[24px] rounded-md uppercase self-start">
            Get involved
        </a>	
    </div>
</div>
