<div class="max-w-5xl w-full mx-auto">
    <div  class="bg-[url(https://seedcompany.com/wp-content/uploads/2024/03/arc.svg)] bg-no-repeat bg-cover bg-center py-[1.35rem]"></div>
</div>
<footer class="primary-bg px-[20px] py-20">
    <section class="mx-auto max-w-5xl md:flex gap-20 py-5">
        <div class="w-full">
            <img src="https://seedcompany.com/wp-content/uploads/2024/03/full-logo-white.svg" alt="Seed Company Logo">
            <h4 class="text-2xl text-white pt-5">Receive Updates on How God's Word is Transforming Lives</h4>
            <form action="" class="py-5">
                <input type="email" name="email" id="email" placeholder="Email" class="p-[10px] rounded-sm">
                <input type="submit" value="Subscribe" class="uppercase bg-white py-[10px] px-[20px] rounded-sm">
            </form>
            <div class="md:flex">
                <a class="text-white" href="https://www.facebook.com/theseedcompany">
                    Facebook icon
                </a>
                <a class="text-white" href="https://twitter.com/theseedcompany">
                    Twitter icon
                </a>
                <a class="text-white" href="https://www.instagram.com/theseedcompany/">
                    Instagram icon
                </a>
                <a class="text-white"href="https://www.youtube.com/channel/UC6tahgP8I7AN2I4siykGSlw">
                    Youtube icon
                </a>
            </div>
        </div>
        <div class="w-full flex gap-20 justify-between">
            <div class="flex flex-col gap-2 w-full">
                <a class="text-white" href="/give">Give</a>
                <a class="text-white" href="/pray">Pray</a>
                <a class="text-white" href="/contact">Contact</a>
                <a class="text-white" href="/careers">Careers</a>
                <a class="text-white" href="/get-involved">Get Involved</a>
            </div>
            <div class="flex flex-col gap-2 w-full">
                <a class="text-white" href="/impact">Impact</a>
                <a class="text-white" href="/approach">Approach</a>
                <a class="text-white" href="/stories">Stories</a>
                <a class="text-white" href="/about">About</a>
                <a class="text-white" href="/annual-report">Annual Report</a>
            </div>
        </div>
    </section>
    <section class="mx-auto max-w-5xl flex gap-20 pt-10">
        <div class="w-full">
            <p class="text-[12px] text-white">info@tsco.org</p>
            <p class="text-[12px] text-white">(817) 557-2121</p>
            <p class="text-[12px] text-white pb-5">220 Westway Place, Suite 100, Arlington, TX 76018</p>
            <p class="text-[10px] text-white">Seed Company is a 501(c)(3) organization. All contributions are tax deductible, non-refundable, and will be applied where most needed within Seed Company's program activities. Our Federal ID is 33-0838929.</p>
        </div>
        <div class="w-full md:flex">
            <img class="max-w-[90px] max-h-[90px] md:max-h-[120px] mb-10 md:max-w-[120px] md:mr-10" src="https://seedcompany.com/wp-content/uploads/2024/03/EIG-Certified-Transparent-Logo-300x300.png" alt="">
            <img class="max-w-[90px] max-h-[90px] md:max-h-[120px] md:max-w-[120px]" src="https://seedcompany.com/wp-content/uploads/2024/03/ecfa-seal-charter-300x300.png" alt="">
        </div>
    </section>
</footer>