---
---
<header class="shadow-slate-400 md:fixed w-full border-b-[1px] z-50 main-nav">
    <nav class="mx-auto flex max-w-5xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="/" class="-m-1.5 p-1.5">
          <span class="sr-only">Seed Company</span>
          <img class="h-8 w-auto" src="https://seedcompany.com/wp-content/uploads/2024/07/Seed_Logo.png" alt="Seed Company Logo">
        </a>
      </div>
      <div class="flex lg:hidden">
        <button id="menu-button" type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Open main menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="/impact" class="uppercase text-sm font-semibold leading-6 text-gray-900 animate__animated animate__fadeIn first-delay">Impact</a>
        <a href="/approach" class="uppercase text-sm font-semibold leading-6 text-gray-900 animate__animated animate__fadeIn second-delay">Approach</a>
        <a href="/stories" class="uppercase text-sm font-semibold leading-6 text-gray-900 animate__animated animate__fadeIn third-delay">Stories</a>
        <a href="/about" class="uppercase text-sm font-semibold leading-6 text-gray-900 animate__animated animate__fadeIn fourth-delay">About</a>
        <a href="/pray" class="uppercase text-sm font-semibold leading-6 text-gray-900 animate__animated animate__fadeIn fifth-delay">Pray</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="/give" class="uppercase text-sm font-semibold leading-6 text-gray-900">Give <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div id="mobile-menu" class="hidden lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-10"></div>
      <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
          <a href="/" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img class="h-8 w-auto" src="https://seedcompany.com/wp-content/uploads/2024/07/Seed_Logo.png" alt="Seed Company Logo">
          </a>
          <button id="close-menu-button" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
            <span class="sr-only">Seed menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a href="/impact" class="uppercase -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Impact</a>
              <a href="/approach" class="uppercase -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Approach</a>
              <a href="/stories" class="uppercase -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Stories</a>
              <a href="/about" class="uppercase -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">About</a>
              <a href="/pray" class="uppercase -mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Pray</a>
            </div>
            <div class="py-6">
              <a href="/give" class="uppercase -mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Give</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <style>
    .main-nav {
        background-color: transparent;
        transition: background-color 0.3s ease;
    }

    .main-nav.scrolled {
        background-color: white;
        z-index: 999;
    }
    .first-delay {
      animation-delay: 0.25s;
    }
    .second-delay {
      animation-delay: 0.3s;
    }
    .third-delay {
      animation-delay: 0.35s;
    }
    .fourth-delay {
      animation-delay: 0.40s;
    }
    .fifth-delay {
      animation-delay: 0.45s;
    }
    .sixth-delay {
      animation-delay: 0.5s;
    }
  </style>
  <script>
window.onscroll = function() { menuScroll() };

function menuScroll() {
  const header = document.querySelector(".main-nav");
  if (document.documentElement.scrollTop > 80) {
    header.classList.add("scrolled");
  } else {
    header.classList.remove("scrolled");
  }
}

    document.addEventListener('DOMContentLoaded', () => {
    const menuButton = document.getElementById('menu-button');
    const closeMenuButton = document.getElementById('close-menu-button');
    const mobileMenu = document.getElementById('mobile-menu');

    menuButton.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });

    closeMenuButton.addEventListener('click', () => {
        mobileMenu.classList.add('hidden');
    });
    });
  </script>