---
import { getEntries } from '../contentful';

const entries = await getEntries('stories');
---

<html>
  <head>
    <title>Seed Company Stories</title>
  </head>
  <body>
    <div class="story_grid__container">
        {entries.items
            .filter((entry) => entry.fields.category == "Featured")
            .map((entry) => (
              <div class="story_grid__item mb-5 md:mb-10">
                {entry.fields.featuredImage && (
                  <img
                    class="rounded-md"
                    src={entry.fields.featuredImage.fields.file.url}
                    alt={
                      entry.fields.featuredImage.fields.title || entry.fields.title
                    }
                    style="max-width: 100%; height: auto;"
                  />
                )}
                <h2 class="text-2xl my-5">{entry.fields.title}</h2>
                <p>{entry.fields.excerpt.content[0].content[0].value}</p>
              </div>
            ))}
      </div>      
  </body>
</html>
<style>
  @media (min-width: 768px) {
    .story_grid__container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      justify-items: center;
      grid-gap: 30px;
    }
    .story_grid__item {
      width: 100%;
      height: 100%;
      padding: 1rem 0;
    }
    .story_grid__item img {
      opacity: 1;
      width: 100%;
      height: 100% !important;
      max-height: 350px;
      object-fit: cover;
    }
  }
  /* .story_grid__item img:hover {
    opacity: 0.7;
    transform: scale(1.03);
  } */
</style>