---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Gotham';
		src: url('/src/assets/fonts/gotham_book_regular-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	@font-face {
		font-family: 'GothamMedium';
		src: url('/src/assets/fonts/gothammedium-webfont.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
	}
	.primary-color {
		color: #006268;
	}
	.primary-bg {
		background-color: #006268;
	}
	h1, h2, h3, h4, h5, h6, p {
		color: #323232;
	}
	h1, h2, h3, h5, h6 {
		font-family: "Libre Baskerville", sans-serif !important;
		line-height: 57.2px;
	}
	p, h4 {
		font-family: 'Gotham', sans-serif;
	}
	h4 {
		font-family: 'GothamMedium', sans-serif;
	}
	.highlighter {
		font-style: inherit;
		background-color: #FDF538;
		padding-right: 5px;
	}
</style>
